<html ng-app="app">
<head>
  <title>Calendar Component</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="calendarComponent.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="calendarComponent.js"></script>
</head>
<body ng-controller="ctrl">
<br><br>
<div class="container" >
  <!--<div class="col-md-3">
    <div class="well">
        <input type="text" class="form-control" style="width:200px;float:left"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add</button>
    </div>
  </div>--->
  <div class="col-md-12">
<div class="row" ng-init="customDate = false">
  <div class="col-md-6">
  <div class="pull-left">
          <h4 ng-click="customDate=!customDate"><strong>{{showDate}}</strong></h4>
        </div>
        <div class="pull-right" ng-show="customDate">
            <input type="date" ng-model="userDate" class="form-control" style="width:200px;float:left;"><button ng-click="goToDate(userDate)" class="btn btn-primary">Go</button>
        </div>
  </div>

          <div class="col-md-6">
            <!---<button class="btn btn-default" ng-click="previous()"> <span class="glyphicon glyphicon-menu-up"></span></button>
            <button class="btn btn-default" ng-click="next()"> <span class="glyphicon glyphicon-menu-down"></span></button>--->
  <div class="pull-right">
            <nav aria-label="...">
              <ul class="pager">
                <li  ng-click="previous()"><a href="javascript:void(0)"><span class="glyphicon glyphicon-menu-up"></span></a></li>
                <li  ng-click="today()"><a href="javascript:void(0)"><span class="glyphicon glyphicon-map-marker"></span></a></li>
                <li  ng-click="next()"><a href="javascript:void(0)"> <span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </nav>
          </div>
        </div>
</div>
<table class="table">
<thead>
<tr>
<th ng-repeat="day in dayList" style="text-align:center;">{{day}}</th>
</tr>
</thead>
<tbody >
    <tr ng-repeat="d in currMonthDates">
      <td><div class="day_box" ng-style="dispColor(d.Sunday)"><strong class="pull-right date">{{d.Sunday.dateNum}}</strong></div></td>
      <td><div class="day_box" ng-style="dispColor(d.Monday)"><strong class="pull-right date">{{d.Monday.dateNum}}</strong></div></td>
      <td><div class="day_box" ng-style="dispColor(d.Tuesday)"><strong class="pull-right date">{{d.Tuesday.dateNum}}</strong></div></td>
      <td><div class="day_box" ng-style="dispColor(d.Wednesday)"><strong class="pull-right date">{{d.Wednesday.dateNum}}</strong></div></td>
      <td><div class="day_box" ng-style="dispColor(d.Thursday)"><strong class="pull-right date">{{d.Thursday.dateNum}}</strong></div></td>
      <td><div class="day_box" ng-style="dispColor(d.Friday)"><strong class="pull-right date">{{d.Friday.dateNum}}</strong></div></td>
      <td><div class="day_box" ng-style="dispColor(d.Saturday)"><strong class="pull-right date">{{d.Saturday.dateNum}}</strong></div></td>
    </tr>
</tbody>
</table>
</div>
</div>
</body>
</html>
